.DS_Store
.gitignore
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
.replit
replit.nix

# ignore Obsidian vault config
content/.obsidian
content/.space
content/.DS_Store

# ignore all dotfiles under content
content/.*

# node modules and build output
node_modules
public
prof
private/